@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap%27);
header{
    border: 2px rgb(0, 0, 0) solid;
    width:auto;
    min-width:96.3%;
    margin: 0;   
    height:110px;
    background-color:rgb(0, 0, 0);
    color: orangered;
  }
.logo{
  width: fit-content;         
  border: 2px rgb(0, 0, 0) solid;
  margin-left: 10%;
  background-color:rgba(0, 0, 0, 0.952);        
  font-size:70px;
  font-family:'My Soul', 'cursive';
  }
  body{
      background-color: black;
  }
  #search{
      position: relative;
      left:25%;
      bottom: 60%;
      height: 40px;
      width: 60%;
  } 
a{
  color: inherit;
}           
#texto_logo{float: right; color: orangered;}
#h{margin-left: 12%;}
#o{margin-left: 15%;}
#c{margin-left: 15%;}
#b{margin-left: 15%;}
#g{margin-left: 15%;}
#logincadastro{
  position:absolute;
  top:2%;
  right:4%;
}
nav{
    border: 2px orangered solid;
    padding-top: 5px;
    height: 30px;
    min-width:96.3%;
    width: auto;
    margin: 0;   
    background-color: orangered;
    color: black;
}
main{
    background-color: rgb(160, 160, 160);
    border: 0px black solid;
    height: auto;
    width: auto;
    min-width:96.2%;
    padding:20px;   
}
footer{
    border: 1px black solid;
    background-color: black;
    color: orangered;
    height:150px;
    min-width: 96.3%;
    width:auto;
    margin: 0;  
    font-family: 'Playfair Display', serif;
}
.f1{
    float: left;
    height: 150px;
    width: 34%;
    text-align: center;
}
.f2{
    float: left;
    height: 150px;
    width: 31%;
    text-align: center;
}
.f3{
    float: left;
    height: 150px;
    width: 34%;
    text-align: center;
}
h1{
    text-align:center;
    }
.produto{
    float: left;
    margin: 5px;
    background-color: white;
    height: 250px;
    width: 450px;
    padding-bottom: 5px;
    margin-left: 100px;
    margin-bottom: 100px;
}
    body{
        background-color: black;
}
.log{
    float: left;
    border: 2px black solid;
    height: 430px;
    width: 400px;
    margin-left: 30%;
    margin-top: 10%;
    text-align: center;
    background-color: white;

}
#login{
    margin-top: 25%;
}
.reg{
    float: left;
    border: 2px black solid;
    height: 430px;
    width: 400px;
    margin-top: 10%;
    text-align: center; 
    background-color: white;
}
.cat{
    border:4px black solid;
    margin:3%;
    text-align:center;
    width: fit-content;
    height: fit-content;
    padding-left:5px;
    padding-right:100px;
    position:relative;
    left: -3%;
    font-size: 40px;
    background-color: grey;
}
#lista{
    text-align:left;
}
.ban-pro{
    border: 4px black solid;
    background-color: gray;
    height:fit-content;
    width:fit-content;
    position:absolute;
    left:35%;
    top:23%;
}
th{
    font-size:50px;
    text-align:center;
}
td{
    border:4px black solid;
    font-size:50px;
    text-align:center;
}
.null{
    border:0px;
}
tfoot{
    background-color:rgb(70, 70, 70);
}
.destaques{
    border: 0px white solid;
    position: relative;
    width: fit-content;
    top: 10px;
}
.video-home{
    position: relative;
    top: 5%;
    left: 2%;
}
.of1{
    border: 4px black solid;
    background-color: white;
    width:60%;
    height:680px;
    position:relative;
    left:1%;
    top:1%;
    padding-left:5%;
}
#esg2{
    color:rgb(179, 11, 11);
    position:relative;
    bottom:50%;
    font-size:100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.of2{
    border: 4px black solid;
    width:30%;
    height:340px;
    position:absolute;
    left:67%;
    bottom:45%;
    background-color: white;
}
#desc1{
text-align: right;
color:rgb(179, 11, 11);
position: relative;
bottom:60%;
}
.of3{
    border:4px black solid;
    width:29%;
    height:317px;
    position:absolute;
    left:67%;
    bottom:10%;
    background-color: white;
    padding-left: 15px;
    padding-top: 5px;
}
#desc2{
    text-align: left;
    color:rgb(179, 11, 11);
    position: relative;
    bottom:85%;
    font-size: xx-large;
    position: relative;
    left:63%;
    }
    .foto{
        float:left;
        margin:20px;
        margin-left: 5%;
        background-color: white;
    }
    .fotob{
        position: relative;
        top:20px;
        left:120px;
    }
.cat1{
    height: 800px;
}